<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Single Post Page</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<header>
  <h1>Single Post Page</h1>
</header>

<section>
  <div id="postContent">

    <p th:text="${post.text}">Post content goes here.</p>
  </div>

  <form id="commentForm">
    <textarea id="commentInput" placeholder="Leave a comment"></textarea>
    <button type="submit">Submit Comment</button>
  </form>

  <input type="hidden" id="postId" th:value="${post.id}"/>

  <div>
<!--    <p>Likes: <span id="likeCount" th:text="${post.likeCount}">0</span></p>-->
    <button id="likeButton" onclick="likePost()">Like Post</button>
  </div>

  <div id="commentsSection">
    <h3>Comments</h3>
    <ul>
      <li th:each="comment : ${comments}">
        <p th:text="${comment.text}">Comment text</p>
        <span th:text="${comment.author.username}">Author</span>
        <span th:text="${#temporals.format(comment.createdAt, 'dd/MM/yyyy HH:mm')}">Created At</span>
      </li>
    </ul>
  </div>
</section>

<footer>
  <p>© 2024 Your Website</p>
</footer>

<script>
  $(document).ready(function() {
    $('#commentForm').on('submit', function(event) {
      event.preventDefault();
      var postId = getPostId();
      var commentText = $('#commentInput').val();
      $.ajax({
        type: 'POST',
        url: '/posts/' + postId + '/comment',
        data: { text: commentText },
        success: function(response) {
          alert('Comment submitted!');
          location.reload();
        },
        error: function() {
          alert('Failed to submit comment.');
        }
      });
    });
  });

  function getPostId() {
    return $('#postId').val();
  }

  function likePost() {
    const postId = "${post.id}"
    fetch('/posts/' + postId + '/like', {
      method: 'POST'
    }).then(response => {
      if (response.ok) {
        document.getElementById('likeCount').innerText = parseInt(document.getElementById('likeCount').innerText) + 1;
        document.getElementById('likeButton').innerText = 'Unlike Post';
        document.getElementById('likeButton').onclick = unlikePost;
      } else {
        alert('Failed to like post.');
      }
    });
  }

  function unlikePost() {
    const postId = "${post.id}"
    fetch('/posts/' + postId + '/unlike', {
      method: 'POST'
    }).then(response => {
      if (response.ok) {
        document.getElementById('likeCount').innerText = parseInt(document.getElementById('likeCount').innerText) - 1;
        document.getElementById('likeButton').innerText = 'Like Post';
        document.getElementById('likeButton').onclick = likePost;
      } else {
        alert('Failed to unlike post.');
      }
    });
  }
</script>
</body>
</html>
